<nav class="navbar navbar-dark bg-primary">

    <div class="container-fluid">

        <button
            class="btn btn-outline-light d-md-none"
            data-bs-toggle="offcanvas"
            data-bs-target="#mobileMenu">

            <i class="fa-solid fa-bars"></i>

        </button>

        <span class="navbar-brand">
            <i class="fa-solid fa-wallet"></i>
            مدير النفقات الشخصية
        </span>

        <button
            class="btn btn-light"
            id="theme-toggle">

            <i class="fa-solid fa-moon"></i>

        </button>

    </div>

</nav>
