<div class="offcanvas offcanvas-end" tabindex="-1" id="mobileMenu">

    <div class="offcanvas-header">
        <h5>القائمة</h5>

        <button class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas-body">

        <ul class="nav flex-column">

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('dashboard.index') }}">الرئيسية</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('accounts.index') }}">الحسابات</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('transactions.index') }}">الحركات</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('budgets.index') }}">الميزانيات</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('reports.index') }}">التقارير</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('settings.index') }}">الإعدادات</a>
            </li>

        </ul>

    </div>

</div>
